# Node modules
node_modules/

# Log files
*.log

# Environment variables
.env

# npm package lock file
package-lock.json

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional coverage directory
coverage/

# Optional build directory
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
